.footer {
    background-color: var(--color-darkGreen);
    padding: 95px 0 145px  10px;
}

.footer__content {
    display: flex;
    justify-content: start;
    justify-items: start;
    gap: 65px;
    flex-direction: column;
}

.footer__content-logo {
    fill: var(--color-white);
    width: 104px;
    height: 48px;
}

.footer__contnent-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    color: var(--color-white);
}


.footer__content-link {
    position: relative;
    font-weight: 600;
    font-size: 25px;
}
.footer__content-link::after {
    position: absolute;
    display: block;
    content: '';
    height: 3px;
    top: 35px;
    right: 100%;
    left: 0px;
    background-color: var(--color-text-dark);
}
.footer__content-link:hover::after {
    right: 0px;
    transition: right 0.6s ;
}
@media(max-width: 992px) {
    .footer__content-link {
        font-size: 20px;
    }
}