.header__wrapper {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    column-gap: min(72px, 3vw);
    justify-content: start;
}

.header__nav-item {
    position: relative;
}

.header__nav-link {
    font-weight: 500;
    font-size: 20px;
    color: var(--color-text-alternative);
    white-space: nowrap;
}

.header__nav-link:focus-visible {
    outline: 2px solid var(--color-darkGreen);
}

.header__nav-item::after {
    position: absolute;
    display: block;
    content: '';
    height: 1px;
    top: 25px;
    right: 100%;
    left: 0px;
    background-color: var(--color-text-dark);
}
.header__nav-item:hover::after {
    right: 0px;
    transition: right 0.6s ;
}

.header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 10px;
}
.btn-signin {
    background-color: transparent;
    color: var(--color-text-dark);
}
@media(max-width: 992px) {
    .header__nav-link {
    font-weight: 500;
    font-size: 1rem;
}
.header__actions  .btn {
        width: 120px;
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    .header__nav {
        display: none;
}
    .header__wrapper {
        padding-left: 45px ;
}
}
@media(max-width: 390px) {
    .header__actions .btn {
        width: 90px;
    }
}
