.hero {
    background: url(../assets/image/BG.webp) center/cover no-repeat;
    height: 890px;
    width: 100%;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 420px;
}

.hero__title {
    padding-top: 180px;
    font-weight: 700;
    font-size: 65px;
    color: var(--color-green);
}
.hero__desc {
    margin: 25px 0 50px;
    color: var(--color-text);
    font-weight: 400;
    font-size: 20px;
    line-height: 157%;
}
.hero__content .btn {
    width: 230px;
    height: 65px;
}

@media(max-width: 768px) {
    .hero {
    height: 700px;
}
    .hero__title {
    padding-top: 80px;
}
}
@media(max-width: 488px) {
    .hero {
    background:
    linear-gradient(100deg, rgba(245,246,252,0.52)),  linear-gradient(100deg, rgba(255,176,139,0.28)),
    url(../assets/image/BG.webp) 60% 50%/cover no-repeat;
    height: 488px;
}
    .hero__title {
    font-size: 50px;
    max-width: 350px;
}
}